extends ../partials/layout

block scripts
    if route === "signup"
        script(src="../../../public/scripts/register.js" defer)

block content 
  main.auth
    if route == "login"
      form.form(method="POST")
        h2.form-title Welcome back
        .default-input.username-input
            label(for="username") Username
            input(
                id="username"
                name="username"
                type="text"
                maxlength="50"
                required
            )
        .default-input.password-input
            label(for="password") Password
            input(
                id="password"
                name="password"
                type="password"
                maxlength="50"
                required
            )
        button.violet-button.login(type="submit") Login
    else
      form.form(method="POST")
        if success
          .notif.successful-signup
            p Account created successfully, you can 
              a(href="/login") login
            | now
        if errors
          include ../partials/validation-errors.pug
        h2.form-title Register a new account
        .default-input.fullname-input
          label(for="full_name") Fullname
          input(
              id="full_name"
              name="full_name"
              type="text"
              minlength="5"
              maxlength="50"
              required
          )
        .default-input.username-input
          label(for="username") Username
          input(
              id="username"
              name="username"
              type="text"
              minlength="5"
              maxlength="50"
              required
          )
        .default-input.password-input
          label(for="password") Password
          input(
              id="password"
              name="password"
              type="password"
              minlength="5"
              maxlength="50"
              required
          )
        .default-input.confirm-input
          label(for="conf-password") Confirm password
          input(
              id="conf-password"
              name="conf-password"
              type="password"
              minlength="5"
              maxlength="50"
              required
          )
          p.confirm-error Passwords do not match. Please try again. 
        button.violet-button.login(type="submit") Register

