- 
  const isMember = !user ? 
    false : user.member_status === "registered" ?
    false : true;

  const fullname = isMember ? post.full_name : "*****"
  const username = isMember ? post.username : "*****"

.post
  .header.flex
    .user-info.flex
      img(src="https://freesvg.org/img/abstract-user-flat-4.png", alt="user icon")
      div
        p.username-fullname=fullname
        .username_date
          span=`@${username}`
          |  • 
          span=post.date

    if user && user.member_status == "admin"
      button.delete-post(
        data-post-id=post.id
      ) Delete
  h3.title=post.title
  .content
    p=post.message_text
